.App {
    text-align: center;

}

html {
    background-color: #1d1d56;
}

header {
    text-align: center;
    font-size: 7vh;
    background: -webkit-linear-gradient(red, orangered, yellow);
    -webkit-text-stroke: 1px black;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.board {

    display: flex;
    align-items: center;
    margin: 0 auto;
    justify-content: center;
    overflow: clip;
    width: fit-content;
    border: solid 2px;
    background: linear-gradient(dodgerblue, blue, darkblue, black);
    border-radius: 20px;
}


.disk, .diskRed, .diskYellow {
    margin: 1px;
    border-radius: 50%;
    display: flow;
    border: solid 2px;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}

.disk {
    background: radial-gradient(dimgray, gray, darkgray);
}

.disk:hover {
    background: radial-gradient(darkgray, black);
    transition: background-color 0.5s, color 0.5s;
}

.header {
    text-align: center;
    font-size: 50px;
    background: -webkit-linear-gradient(red, orangered, yellow);
    -webkit-text-stroke: 1px black;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.numberInput {
    margin: 15px;
}

button {
    padding: 10px;
    border: none;
    background-color: #3F51B5;
    color: #fff;
    font-weight: 600;
    border-radius: 5px;

}

.gameScreenText {
    font-size: 5vh;
    display: inline-block;
    background-color: purple;
    padding: 10px;
    border-radius: 5px;
    border: 3px solid #4231F5B5;
}

.homeScreenText {
    display: inline-block;
    background-color: purple;
    padding: 10px;
    border-radius: 5px;
    border: 3px solid #4231F5B5;

}

.color-picker-container {
    margin: 15px;
}

.win {

    font-size: 100px;
    -webkit-text-stroke: 2px black;
    -webkit-background-clip: text;
    -webkit-text-fill-color: #1d1d56;
    background: transparent;
    width: 99vw;
    height: 80vh;
    position: absolute;
    text-align: center;

}